@use "./variables" as vars;
@use "./mixins" as mix;

%button-base {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: vars.$transition;
}

%div-base {
    @include mix.flex($justify: space-between, $align: center, $gap: 8px);
    padding: 8px 12px;
    border: 1px solid vars.$white;
    border-radius: 50px;
    width: max-content;
    cursor: pointer;
    transition: vars.$transition;

    & {
        img {
            transition: transform 0.3s ease;
        }
    }

    &:hover {
        img {
            transform: rotate(360deg);
        }
    }
}