body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* toggle themes */

.light-theme {
  color: black;
  background-color: white;
}

.dark-theme {
  color: white;
  background-color: black;
}

/*  */
