.todo-header {
  border-bottom: 4px solid #9b1717;
  font-size: 20px;
  padding-bottom: 25px;
}

.table-tr {
  border-left: 18px solid;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-radius: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.table-tr td:first-child {
  border-top-right-radius: 18px;
}

.table-tr td:nth-child(2) {
  border-bottom-right-radius: 15px;
}
